<h1>Welcome to {{ hotelName }} </h1>
<div [hidden]="hideRooms">
    Number of Rooms:
    <div [ngStyle]="{'color':rooms.availableRooms ?'green':'red'}"  [innerText]="numberOfRooms">
    </div>
</div>

{{rooms ?? 'No rooms'}}

<div *ngIf="rooms?.availableRooms">
    Rooms List
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Amenties</th>
            <th>Room Price</th>
            <th>Room Photos</th>
            <th>Room checkinTime</th>
            <th>Rating</th>
        </tr>
        <tr [ngClass]="e ? 'even':'odd'" *ngFor="let rooml of roomList | slice:0:3; let e = even;  let o = odd; let i = index; ">
            <td>{{i | percent}}</td>
            <td>{{e ? "Even" : "Odd"}}</td>
            <td>{{rooml.roomNumber}}</td>
            <td>{{rooml.roomType}}</td>
            <td>{{rooml.amenties | titlecase}}</td>
            <td>{{rooml.price | currency : 'INR'}}</td>
            <td>{{rooml.photos}}</td>
            <td>{{rooml.checkinTime | date:'dd/MMM/yyyy'}}</td>
            <td>{{rooml.rating | number :'1.0-2'}}</td>
        </tr>
    </table>
</div>

<button (click)="toggle()">Toggle</button>